/* CSS Document */

#menuDiv {
  text-align: right;
}

ul#menu,
#nav ul  {
  list-style: none;
	margin-left: 1em;
	padding-left: 0;
	margin-bottom: 3px;
}

#nav {
  margin-bottom: 0;
	padding-bottom: 0;
}

#nav ul li {
  display: inline;
	padding: 3px 6px;
	margin-right: 1em;
	margin-left: 0;
	background-color: #eeeeee;
	border: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 0;
	color: #aaaaaa;
	
	cursor: default;	
}

#nav ul li:hover {
  background-color: #ffffff;
}

#nav ul li:hover.active {
	background-color: #ffffff;
}

#nav ul li.active {
  border: 1px solid #cccccc;
	color: #333333;
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
}


ul#menu li {
  display: inline;
	padding: 3px 6px;
	margin-right: 1em;
	background-color: #eeeeee;
	border: 1px solid #ff0000;
	color: #ff0000;
	
	cursor: default;
}

ul#menu li:hover {
  background-color: #ffffff;
}

ul#menu li.close {
  color: #333333;
	font-weight: bold;
	border: 1px solid #cccccc;
}


div#data {
	margin: 0;
	padding: 20px 12px;
  background-color: #ffffff;
	border-top: 1px solid #cccccc;
}

.gridHeader {
  background-color: #8fc70c;
	border: 1px solid #cccccc;
	color: #ffffff;
}

.gridAltItem,
.gridItem {
  background-color: #dddddd;
	padding-right: 0.5em;
	padding-left: 0.5em;
	word-wrap:break-word;
	word-break: break-all;
}
.gridAltItem {
  background-color: #eeeeee;
}

td a
 {
  color: #0000ff;
	text-decoration: none;
}

td a.red {
  color: #ff0000;
	text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

.pager {
  padding-bottom: 0.5em;
}

